{% extends 'layout.html' %} {% block title %}Contact Us{% endblock %} {%
block content %}
<div class="contact">
  
  <div class="team">
    <h3>Executed By:</h3>
    <div class="member">
      <p>Amith Kumar P</p>
      <p>ENG21CS0281</p>
    </div>
    <div class="member">  
      <p>Pavanananda K S</p>
      <p>ENG21CS0293</p>
    </div>
    <div class="member">
      <p>K Joshna Naidu </p>
      <p>1DT21CS061</p>
    </div>
    <div class="member">
      <p>Harshavardhan Reddy</p>
      <p>1DT21EC021</p>
    </div>
  </div>
</div>
{% endblock %}
