.green-text {
  color: rgb(60, 255, 118);
  font-size: 2rem;
  text-shadow: 2px 2px 1px rgb(0, 36, 0);
}

.green-text-header {
  color: rgb(60, 255, 118);
  font-size: 5rem;
  text-shadow: 2px 2px 1px rgb(0, 36, 0);
  text-transform: capitalize;
}

header nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 11vh;
  background-color: rgba(60, 255, 118, 0.5);
  border: 2px solid green;
}

header nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul .left-section {
  width: 40%;
  padding: 0 2vw;
}

header nav ul .right-section {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 1vw;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.nav-links:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 5px rgba(0, 51, 20, 0.2);
}

.nav-links > *,
.nav-brand > *,
.btn > * {
  text-decoration: none;
  color: black;
}

header h2.brand {
  font-size: 4rem;
  margin: 0;
  color: rgb(0, 36, 0);
  background-color: rgb(0, 36, 0, 0.3);
  width: fit-content;
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn {
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 1.3rem;
  font-family: inherit;
  border-radius: 5px;
  margin: 0 20px;
  cursor: pointer;
  text-decoration: none;
}

.btn-icon {
  background-color: rgb(60, 255, 118);
  transition: transform 0.2s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  text-transform: capitalize;
}

.btn-icon img {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

.btn-login,
.btn-signup,
.btn-submit {
  background-color: rgb(0, 36, 0);
  color: rgb(60, 255, 118);
  transition: transform 0.2s ease;
}

.btn-login > *,
.btn-signup > *,
.btn-submit > * {
  color: rgb(60, 255, 118);
}

.btn-icon:hover,
.btn-login:hover,
.btn-signup:hover,
.btn-submit:hover {
  transform: scaleX(1.1);
}

.page-header {
  font-size: 4rem;
  margin: 0;
  padding-top: 2vh;
}

.dashboard,
.about,
.contact {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: url("./imgs/dashboard-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero {
  z-index: 1;
  backdrop-filter: blur(3px);
}

.card-container {
  margin: 10vh 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  height: 50vh;
  width: 20vw;
  background-color: white;
  color: rgb(0, 36, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 5px 5px 10px rgb(36, 36, 36);
  text-align: left;
}

.card .card-img {
  height: 50%;
  width: auto;
}

.card .card-body {
  padding: 10px 20px;
}

.card .card-body .card-title {
  font-size: 2rem;
  margin: 10px 0;
}

.card .card-body .card-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.card .card-body a {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 178, 53);
  transition: transform 0.2s ease;
}

.card .card-body a:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

.wrapper {
  text-align: center;
  background-color: rgba(135, 204, 135, 0.3);
  width: 30%;
  margin: 5vh auto;
  padding: 1vh 0;
  border-radius: 5%;
}

.wrapper label,
.flex-wrapper {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

.wrapper label p {
  text-align-last: left;
}

.wrapper label > *:first-child,
.wrapper label > *:last-child {
  width: 50%;
}

.wrapper label input {
  border: 2px solid rgb(0, 36, 0);
  border-left: 15px solid rgb(0, 36, 0);
  padding: 5px 2px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.wrapper label input:focus {
  border: 5px solid rgb(99, 222, 99);
}

.wrapper .flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.wrapper .flex-container .radio-input {
  display: flex;
}

.wrapper .flex-container .radio-input label {
  font-size: 1.1rem;
}

.info {
  font-size: 1.2rem;
  color: rgb(0, 36, 0);
}

.info > * {
  text-decoration: none;
}

.info .info-link {
  transition: all 0.2s ease;
  margin-left: 10px;
  background-color: rgba(0, 36, 0, 0.2);
  padding: 2px 5px;
  border-radius: 5px;
  color: rgb(2, 89, 28);
  font-weight: bold;
  transition: all 0.2s ease;
}

.info .info-link:hover {
  padding: 2px 10px;
  background-color: rgba(0, 36, 0, 0.5);
  color: rgb(66, 255, 116);
}

.about {
  background: url("./imgs/about-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5vh;
}

.about .hero,
.contact .hero {
  background-color: rgba(9, 9, 9, 0.5);
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
}

.about .hero .page-header,
.contact .hero .page-header {
  text-shadow: 5px 5px 0 black;
}

.contact-info {
  margin: 5vh auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.info-card {
  background-color: rgba(0, 36, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
  margin: 1rem;
  color: rgba(60, 255, 118, 1);
  box-shadow: 2px 2px 10px rgba(0, 36, 0, 0.5);
}

.info-card h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.info-card p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.contact {
  background: url("./imgs/contact-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5vh;
}

.profile {
  width: 60%;
  margin: 3vh auto;
}

.profile-card {
  display: flex;
  justify-content: space-between;
  background-color: rgba(22, 222, 22, 0.2);
  padding: 1vh 0;
  border-radius: 10px;
}

.profile-card .profile-details,
.profile-card .appointments {
  width: 50%;
}

.profile-card .profile-details {
  border-right: 3px solid rgb(0, 36, 0);
  margin: 0 1vw;
}

.profile-card .profile-details .flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0, 36, 0);
  margin-right: 1vw;
}

.profile-card .profile-details .flex-wrapper:last-child {
  border: none;
}

.profile-card .profile-details .flex-wrapper p:first-child {
  font-size: 1.5rem;
  color: rgb(0, 36, 0);
}

.profile-card .appointments h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  background-color: rgba(0, 36, 0, 0.7);
  border-radius: 5px;
  margin: 0 1vw;
  text-align: center;
  color: rgb(60, 255, 118);
  text-shadow: 2px 2px 0 black;
}

.profile-card .appointments ul {
  list-style-type: none;
  padding: 0;
}

.profile-card .appointments ul li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgb(99, 222, 99);
  margin-right: 10px;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 1vh;
}

.profile-card .appointments ul li > *:first-child {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.profile-card .appointments ul li .name {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 0;
}

.profile-card .appointments ul li .appointment-date p:first-child {
  color: rgb(0, 36, 0);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.profile-card .appointments ul li .appointment-date p:last-child {
  font-weight: bold;
  margin: 0;
  color: rgb(55, 98, 68);
}

.appointment-wrapper {
  width: 40%;
  margin: 5vh auto;
  padding: 0 2vw;
}

.appointment-wrapper h2 {
  font-size: 2rem;
}

.appointment-wrapper form {
  background-color: rgba(22, 222, 22, 0.2);
  padding: 1vh 2vw;
  border-radius: 10px;
}

.appointment-wrapper form .btn {
  margin: 1vh 0;
}

.appointment-wrapper form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.appointment-wrapper form label p {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(0, 36, 0);
}

.appointment-wrapper form label select {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  text-transform: capitalize;
  max-width: 20vw;
}

.appointment-wrapper form label select option {
  text-transform: capitalize;
}

.appointment-wrapper form label input[type="datetime-local"] {
  padding: 5px 10px;
  font-size: 1.1rem;
  font-weight: bold;
  outline: none;
  max-width: 20vw;
}

.service-wrapper {
  margin: 1vh 1vw;
}

.service-wrapper .page-header {
  text-align: center;
}

.service {
  margin: 1vh 2vw;
  padding: 1vh 1vw;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.service .service-name {
  flex: 1;
  font-size: 1.5rem;
  width: 20%;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
}

.service .service-name p {
  margin: 5px 0;
}

.service .service-name img {
  width: 10%;
  height: auto;
  margin: 0;
}

.service .service-desc {
  width: 80%;
  padding: 0 2vw;
  margin: 0;
  height: min-content;
}

.service .service-link > * {
  text-decoration: none;
  font-size: 3rem;
  color: rgb(36, 36, 36);
  flex: 1;
}

.service .service-link > *:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #161b25;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(24, 230, 212);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}